__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
*.egg
venv/
env/
.env/
.venv/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.pytest_cache/
.coverage
htmlcov/
.tox/
.ipynb_checkpoints
.env
.env.local
*.log
local_settings.py
*.db
*.sqlite3
*.sqlite
docs/_build/
.mypy_cache/
.dmypy.json
dmypy.json
.ropeproject
/site
Pipfile.lock
poetry.lock
config.json
.ruff_cache/
cli_config.json
status_report.json
db.sqlite-shm
db.sqlite-wal
cache/
upload/
mcp_config.json
model_config.json